spring:
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create  # create, create-drop, validate, update
      show-sql: true
app:
  importcsv:
    source: #Chemin du fichier csv a importer
myanimelist:
  base-url: #https://url.com/
  key: #X_RAPIDAPI_KEY
  host: #X_RAPIDAPI_HOST
